.App {
  text-align: center;
  
}

body{
  background-color: #424242;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

 #navbar {
  background-color:#000000;


}

#navbar a:hover{
  background-color: #303030 !important;
  
  
}

a{
  color: #FFFFFF !important;
}

a:hover{
  color: #EDB458 !important;
}

.item{
  padding: 5vmin; 
}


#logo:hover{
  color: #EDB458 !important;
  transition: 1000trms !important;   
}

